.page {
  width: 100%;
  height: 100%;
}
.loadedpage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.top {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.middle {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.navbar {
  width: 8%;
  border-right: 1px solid black;
  height: 100%;
}
.navshow {
  width: 8%;
  transition: 1s;
}
.navclose {
  width: 0%;
  opacity: 0;
  transition: 1s;
}

.openclosebutton {
  width: 1%;
  height: 100%;
  z-index: 10;
}

.closebutton,
.openbutton {
  background-color: transparent;
  border: none;
  font-size: 1.7vw;
  position: relative;
  color: #555860;
  width: 100%;
  top: 0%;
  left: -5%;
}

.closebutton:hover {
  cursor: pointer;
}
.openbutton:hover {
  cursor: pointer;
}
.openclosebutton svg:hover {
  border-radius: 4px;
  color: #73757a;
}

.chartinterface {
  width: 75%;
  height: 100%;
  padding-top: 30px;
  padding-left: 20px;
  transition: 1s;
}
.widerchart {
  width: 78%;
  height: 100%;
  padding-top: 30px;
  padding-left: 20px;
  transition: 1s;
}

.orderInput {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
}

.shutter {
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.5);
}

.navshow_orderInput {
  width: 20%;
  transition: 1s;
}
.navclose_orderInput {
  width: 25%;
  transition: 1s;
}

.orderbutton {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.orderbutton button {
  box-shadow: 3px 3px 3px black;
  transition-duration: 0.3s;
  border-radius: 6px;
  border: none;
  border: 1px;
  height: 20px;
  width: 40%;
}

.orderbutton button:active {
  margin-left: 2px;
  margin-top: 2px;
  box-shadow: none;
}

.longbutton {
  background-color: #02c076;
}

.shortbutton {
  background-color: #f94960;
}

.settingtitle {
  height: 100%;
  width: 100%;
  text-align: center;
}

@keyframes navopen {
  0% {
    display: none;
  }
  100% {
    display: block;
  }
}
@keyframes navclose {
  0% {
    display: block;
  }
  100% {
    display: none;
  }
}

@keyframes buttonhover {
  0% {
    background: #333d79;
    color: #faebef;
  }

  20% {
    background: #333d79;
    color: #faebef;
  }

  100% {
    background: #faebef;
    color: #333d79;
  }
}
