.adbidding {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1%;
}

.navbar {
  width: 100%;
  height: 9%;
}

.title {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: 700;
}

.preview {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
}

.previewimage {
  max-width: 600px;
  max-height: 300px;
}

.highestbidder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100%;
  row-gap: 3%;
}

.tokenbalance {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  column-gap: 5%;
}

.tokenbalance img {
  max-width: 30px;
  max-height: 30px;
}

.navbutton {
}

.navbutton:hover {
  cursor: pointer;
}

.navbar:active {
  box-shadow: 2px 2px 6px rgb(48, 47, 47) inset;
  position: relative;
  right: -1%;
  bottom: -1%;
}

.timer {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
}
