.adbidding {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 100%;
  height: 9%;
}

.title {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview {
  width: 100%;
  height: 65%;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.previewimage {
  width: 30%;
  height: 50%;
}

.highestbidder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tokenbalance {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tokenbalance img {
  width: 40px;
  height: 40px;
}

.navbutton {
}

.navbutton:hover {
  cursor: pointer;
}

.navbar:active {
  box-shadow: 2px 2px 6px rgb(48, 47, 47) inset;
  position: relative;
  right: -1%;
  bottom: -1%;
}

.timer {
  width: 100%;
  height: 15%;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
